<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">

                    <div class="col-lg-4">
                        <h4 class="card-title">Bievenido, <a href="#"> {{ _usuarioService.usuario.nombre  }}</a></h4>
                        <h4 class="card-title">Tu usuario es:  <a href="#"> {{ _usuarioService.usuario.usuario  }}</a></h4>
                        <hr>
                        <h4 class="card-title">Paquete Base:  <a href="#"> Lau393</a></h4>
                        <h4 class="card-title">Paquete Dos:  <a href="#"> Lau 393</a></h4>
                        <hr>
                        <h4 class="card-title">Total valor paquetes de inversión:  <a href="#"> 300</a></h4>
                        <h4 class="card-title">Saldo Disponible:  <a href="#"> 4500</a></h4>
                        <h4 class="card-title">Ultimo Retiro:  <a href="#"> 1200</a></h4>
                        <h4 class="card-title">Bonos y rentabilidades generadas al ultimo periodo: <a href="#"> 2500</a></h4>
                        <h4 class="card-title">Total de Paquetes Activos en tu red:  <a href="#"> 23</a></h4>
                    </div>
                    <div class="col-lg-4">
                        <h4 class="card-title">El resumen de tu cuenta</h4>
                        <h4 class="card-title">Fecha de Inscripción: <a href="#"> 13 de Agosto del 2018 </a></h4>
                        <hr>
                        <h4 class="card-title">Activación: <a href="#"> 16 de Agosto del 2018 </a></h4>
                        <h4 class="card-title">Activación: <a href="#"> 26 de Agosto del 2018 </a></h4>
                        <hr>
                        <h4 class="card-title">Posición dentro del sistema: <a href="#"> Cobre </a></h4>
                        <h4 class="card-title">Calificación de retiro disponible: <a href="#"> 14 de Octube del 2018 </a></h4>
                        <h4 class="card-title">Fecha ultimo retiro: <a href="#"> 30 de Agosto del 2018 </a></h4>
                        <br>
                        <br>
                        <h4 class="card-title">Porcentaje de ganancia: <a href="#"> 78% </a></h4>
                     
                     
                    </div>
                    <div class="col-lg-4">
                        <br>
                        <br>
                        <hr>
                        <h4 class="card-title"> Valor : <a href="#"> 2000 </a></h4>
                        <h4 class="card-title"> Valor : <a href="#"> 1000 </a></h4>
                        <hr>
                    </div>
                    <div class="col-12">
                        <br>
                        <br>
                        <hr>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>